<p>This is the partial for view 7.</p>
<div>
    <p>Data from server (Users ONLY) <b style="color: darkblue"></b></p>
    <input ng-model="amount" type="number" name="amount" value=""  />
    <input ng-model="from" type="text" name="from" value="from" />
<input ng-model="to" type="text" name="to" value="to" />
<input ng-click="calulus()" type="submit" value="caculate" />
<input ng-model="data1" type="text" name="amount" value="" readonly=""/>
</div>

<table >
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>value</th>
        </tr>
    </thead>
    <tbody ng-repeat="d in data">
        <tr>
            <td>{{d[0]}}</td>
            <td>{{d[1]}}</td>
            <td>{{d[2]}}</td>
        </tr>
    </tbody>
</table>
